<%= form_for @superhero, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :superpower, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :superpower, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :superscore, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :superscore, :class => 'number_field', :step => 0.01 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :match_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :match_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                superheros_path, :class => 'btn' %>
  </div>
<% end %>
