<%= form_for @match, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label 'Challenger', :class => 'control-label' %>
    <div class="controls">
      <%= collection_select(:match, :hero_a_id, 
      Superhero.all, :id, :name, {prompt: "Select a superhero"}, {style: "color:black;"}) %>
    </div>
  </div>
  <div>
    <h2><strong>VS</strong></h2>
  </div>
  <div class="control-group">
    <%= f.label 'Opponent', :class => 'control-label' %>
    <div class="controls">
      <%= collection_select(:match, :hero_b_id, 
      Superhero.all, :id, :name, {prompt: "Select a superhero"}, {style: "color:black;"}) %>
    </div>
  </div>
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                matches_path, :class => 'btn' %>
  </div>
<% end %>
