<%- model_class = Match -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Challenger</th>
      <th>Challenger Score</th>
      <th>Opponent</th>
      <th>Opponent Score</th>
      <th class="text-success h4"><strong>Winner</strong></th>
    </tr>
  </thead>
  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= link_to match.id, match_path(match) %></td>
        <td><%= Superhero.all[match.hero_a_id].name %></td>
        <td><%= match.hero_a_score %></td>
        <td><%= Superhero.all[match.hero_b_id].name %></td>
        <td><%= match.hero_b_score %></td>
        <td class="text-success">
          <strong>
           <% if match.hero_a_score > match.hero_b_score %><%= Superhero.all[match.hero_a_id].name %>
           <% elsif match.hero_a_score < match.hero_b_score %><%= Superhero.all[match.hero_b_id].name %>
           <% elsif match.hero_a_score == match.hero_b_score %><%= 'Tie' %>
           <% else %><%= '' %>
           <% end %>
          </strong>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_match_path,
            :class => 'btn btn-primary' %>
